@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

* {
	box-sizing: border-box !important;
}

@layer base {
	:root {
		--background: #010409;
		--foreground: #e6edf3;

		--card: #21262d;

		--popover: #21262d;

		--primary: #010409;

		--secondary: #0d1117;

		--muted: #161b22;

		--accent: #292f36;

		--destructive: #881a1b;

		--border: rgb(34, 20, 51);
		--input: #262b32;
		--ring: #262b32;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
