@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

* {
	box-sizing: border-box !important;
}

@layer base {
	/* Default Dark theme */
	html[data-theme='dark'],
	:root {
		--background: #010409;
		--foreground: #e6edf3;

		--card: #21262d;

		--popover: #21262d;

		--primary: #010409;

		--secondary: #0d1117;

		--muted: #161b22;

		--accent: #292f36;

		--destructive: #881a1b;

		--border: #262b32;
		--input: #262b32;
		--ring: #262b32;

		--radius: 0.5rem;
	}

	/* Light theme */
	html[data-theme='light'] {
		--background: #f0f2f5;
		--foreground: #333333;

		--card: #a6a6a6;

		--popover: #a6a6a6;

		--primary: #c9500f;

		--secondary: #ededed;

		--muted: #f9ede7;

		--accent: #e3e3e3;

		--destructive: #a4252b;

		--border: #c8500e;
		--input: #ffffff;
		--ring: #c8500e;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	/* same color as the background but lighten up a bit */
	background: lighten(var(--background), 10%);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--accent);
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
